@{
    ViewBag.Title = "Show";
}

@section meau
{
    <ul>
        <li><a href="/Home/Index">首页</a></li>
        <li><a href="/Home/Buy">加工订单</a></li>
        <li><a href="/Home/Sell">提供加工</a></li>
        <li><a href="/Home/Company">加工企业</a></li>
        <li><a href="/Home/News">行业资料</a></li>
        <li class="on"><a href="/Home/Show">展会资料</a></li>
    </ul>
}
<div class="mid">
    <div class="mian">


        <div class="zh_right" style="margin-right:10px">
            <div class="hy_list">
                <div class="hy_head">
                    <h1><a href="#">更多></a>展会资料</h1>
                    <ul>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                        <li><span>2015-11-20</span><a href="/Home/NewsDetail">中小机械加工公司零件加工检验手册</a></li>
                    </ul>
                </div>
            </div>




        </div>


        <div class="zh_hot">
            <div class="hot_head">
                Hot news
            </div>
            <div class="zh_mid">
                <img src="/images/zg_04.jpg" />
                <div class="hot_ti">分享小型机械加工厂的实用生存法则</div>
                <div class="hot_text">  不少老板现在都感概机加行业经营之艰辛：原材料涨价、员工难招聘且待遇要逐步提高、客户为能接订单人为压低单价、竟争对手也似乎越来越多也越来越强。如何在这样残酷的现实行业中生存，是摆在每个加工厂…… <a href="">【查看详情】</a></div>
            </div>
        </div>









        <div class="tuwen">
            <span>
                <a class="more" href="#">更多</a>
                <a class="tuwen_head on" href="#">精彩图文</a>
            </span>
            <ul>
                <li><a href="#"><img src="/images/22-03-25-83-1.gif" /><em>汽车锁具配件</em></a></li>
                <li><a href="#"><img src="/images/22-03-25-83-1.gif" width="217" height="217" /><em>汽车锁具配件</em></a></li>
                <li><a href="#"><img src="/images/22-03-25-83-1.gif" width="217" height="217" /><em>汽车锁具配件</em></a></li>
                <li><a href="#"><img src="/images/22-03-25-83-1.gif" width="217" height="217" /><em>汽车锁具配件</em></a></li>
                <li><a href="#"><img src="/images/22-03-25-83-1.gif" width="217" height="217" /><em>汽车锁具配件</em></a></li>

            </ul>

        </div>


    </div>



</div>
    </div>

<div class="footer">

    <div class="mian">
        <div class="db">
            <h3>关于我们</h3>
            <a href="#">联系方式</a>
            <a href="#">网站留言</a>
            <a href="#">客服热线</a>
            <a href="#">常见问题</a>
        </div>


        <div class="db">
            <h3>关于我们</h3>
            <a href="#">联系方式</a>
            <a href="#">网站留言</a>
            <a href="#">客服热线</a>
            <a href="#">常见问题</a>
        </div>


        <div class="db">
            <h3>关于我们</h3>
            <a href="#">联系方式</a>
            <a href="#">网站留言</a>
            <a href="#">客服热线</a>
            <a href="#">常见问题</a>
        </div>


        <div class="db">
            <h3>关于我们</h3>
            <a href="#">联系方式</a>
            <a href="#">网站留言</a>
            <a href="#">客服热线</a>
            <a href="#">常见问题</a>
        </div>


        <div class="db" style="width:330px; text-align:left">
            <h4>客服热线：400-256-5662</h4>
            <h4>邮箱：zhongguozhizao@126.com</h4>
            <h4>传真：254523365</h4>
            <h4>公司地址：某某区某某街 某某区某某街 某某区某某街 某某区某某街  </h4>
        </div>



    </div>


</div>
<div class="bottom">
    中国制造网 中一信息科技有限公司版权所有 2015-2018 粤B65-56562858  技术支持：微米酷科技
</div>
@section Scripts{
    <script>
        $(function () {
            //加工订单
            $("#List1").show();
            $("#List2").hide();
            $(".xs1").on("click", function () {
                $(".xs2").removeClass("on");
                $(".xs1").addClass("on");
                $("#List1").show();
                $("#List2").hide();
            });
            $(".xs2").on("click", function () {
                $(".xs1").removeClass("on");
                $(".xs2").addClass("on");
                $("#List1").hide();
                $("#List2").show();
            });
            var p = 1;
            initPagination();
            function initPagination(p) {
                var param = {
                    rows: 10,
                    page: p || 1,
                    sidx: "CreateDate",
                    sord: "desc",
                    code: "modify"
                };
                if (param.page == 1) {
                    //$("#List1").html('');
                    //$("#List2").html('');
                }
                AJAX('/Home/getBuyListP', param, function (d) {
                    $('#pagination').pager(d.page, d.records, d.total, initPagination);
                    if (d.rows.length > 0) {
                        var _html = '';
                        $(d).each(function () {
                            _html += ' <div class="dd_datu"><div class="dt_img">'
                            _html += '<img src="/images/pro4.jpg" width="200" height="200" /></div><div class="dt_name"><span>车床轴加工车床轴加工……aaaa</span></div>';
                            _html += '<div class="dt_dq"><span>5000套</span>广东佛山市</div><div class="dt_xq"><a href="#">查看详情</a></div></div>';
                        });
                        var _html2 = '';
                        $(d).each(function () {
                            _html2 += '';
                        });
                        //$("#List1").html(_html);
                        //$("#List2").html(_html2);
                    }
                });
            }

        });
    </script>
}