@{
    ViewBag.Title = "Product";
}
<link href="~/Content/vip.css" rel="stylesheet" />
<div class="t">
    <div class="top">
        <div class="name">
            <div class="logo"><img src="/images/vip/logo.png" width="50" height="50" /></div>
            <div class="logotext">郑州市进出口贸易有限公司</div>
        </div>

    </div>
</div>
<div class="clearboth"></div>
<div class="men">
    <div class="menu">
        <ul>
            <li><a href="/Vip/Index">  首 页  </a></li>
            <li><a href="/Vip/About">企业简介</a></li>
            <li><a href="/Vip/Culture">企业文化</a></li>
            <li><a href="/Vip/Honor">企业荣誉</a></li>
            <li class="onmenu"><a href="/Vip/Product">产品展示</a> </li>
            <li>
                <a href="/Vip/Contact">联系我们</a>
            </li>
        </ul>
        <div class="phone">0755-16545666</div>
    </div>
</div>

<div class="topny"> <img src="/images/vip/jianj_03.png" width="1081" height="92" /></div>
<!--头部结束-->

<div id="main" style="height:1020px;">
    <div class="left">


        <div class="lianxi">
            <img src="/images/vip/jianj_07.png" width="200" height="147" />
            <div class="lxtext">
                <p><span>名称：</span><em>郑州市进出口贸易有限公司</em></p>
                <p><span>地址：</span><em>河南郑州市金水区</em></p>
                <p><span>客服：</span><em>林小姐</em></p>
                <p><span>邮箱：</span><em>456456@163.com</em></p>
                <p><span>电话：</span><em>0755-15323333</em></p>
                <p><span>传真：</span><em>4515656</em></p>
                <p><span>QQ：</span><em>56157414</em></p>
            </div>
        </div>
    </div>


    <div class="right">


        <div class="product_ny" style="margin-top:0px">

            <div class="toptitleny">产品中心<span>Products</span></div>

            <ul>
                <li><a href="#"><img src="/images/vip/gus02.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden05.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden06.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden06.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden05.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/gus02.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden05.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden06.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/gus02.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden05.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden06.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden06.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden05.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/gus02.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden05.jpg" /><span>产品图片1</span></a></li>
                <li><a href="#"><img src="/images/vip/kaden06.jpg" /><span>产品图片1</span></a></li>

            </ul>
        </div>

        <div class="clearboth"></div>
        <div class="lmlpage">
            <li>首页</li>
            <li class="thisclass">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">下一页</a></li>
            <li><a href="#">末页</a></li>
            <li><span class="pageinfo">共 <strong>2</strong>页<strong>2</strong>条</span></li>

        </div>

    </div>



</div>
<div id="footer">
    <div class="bottom">
        版权所有 中一信息科技有限公司  郑州市进出口贸易有限公司<br />
        技术支持 微米酷科技有限公司
        <div class="clearboth"></div>
    </div>
</div>